@charset "utf-8";
.vertikale {
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
	text-decoration: none;
	background-image: url(/web/20161106062140im_/http://fallsteingymnasium.de/Website%20FGO/Website%20FGO/Grafik%20web/vertikale.jpg);
	width: 750px;
	height: 30px;
	line-height: 30px;
	text-indent: 5mm;
}
#form1 div a {
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	color: #FFF;
	word-spacing: 1cm;
}

/*
     FILE ARCHIVED ON 06:21:40 Nov 06, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:33:06 Jun 01, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.609
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.015
  esindex: 0.011
  cdx.remote: 20.488
  LoadShardBlock: 361.522 (3)
  PetaboxLoader3.resolve: 251.771 (4)
  PetaboxLoader3.datanode: 282.866 (5)
  load_resource: 324.454 (2)
*/