.Tabelle {
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	height: 100px;



}
.content_Inhalt {
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	color: #000;
	line-height: 18px;
}

/*
     FILE ARCHIVED ON 06:21:37 Nov 06, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:33:04 Jun 01, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.636
  exclusion.robots: 0.051
  exclusion.robots.policy: 0.032
  esindex: 0.012
  cdx.remote: 14.852
  LoadShardBlock: 87.109 (3)
  PetaboxLoader3.datanode: 255.662 (5)
  load_resource: 355.051 (2)
  PetaboxLoader3.resolve: 87.379 (2)
*/